.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px 96px;

  .header__logo-image {
      width: 134px;
  }
  
  .header__menu {
    order: -1;
    
    .header__links-list {
      display: flex;
      gap: 33px;
      list-style-type: circle;

      .header__link {
        border-bottom: 1px solid;
        color: black;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.17;
        text-decoration: none;
      }

      .header__links-list-item_no-bullet {
        list-style: none;
      }
    }
  }

  .address {
    &.header__address {
      justify-self: end;
      padding-right: 37px;
    }
  }
}

.cover {
  position: relative;
  margin-bottom: 179px;
  padding: 165px 50px 0 50px;
  background:  center / cover no-repeat url(../images/cover.jpg);

  .cover__title {
    position: relative;
    z-index: 1;
    margin-bottom: 123px;
    color: white;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.22;
    letter-spacing: 30px;

    .aligned-text {
      display: block;
      
      .letter-spacing-extended {
        letter-spacing: 60px;
      }

      .no-letter-spacing {
        letter-spacing: 0;
      }
    }

    .aligned-text_center {
      letter-spacing: 24px;
      text-align: center;
    }

    .aligned-text_right {
      text-align: right;
    }
  }

  .cover__description {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    padding: 0 0 51px 28px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;

    .cover__description-text {
      font-weight: 400;
      word-spacing: 19px;
    }

    .bet-button {
      border: 1px solid;
      padding: 12px 32px 11px 31px;
      color: inherit;
      font-weight: 500;
      font-size: inherit;
      line-height: 1.17;
      text-transform: uppercase;
      background: transparent;
      cursor: pointer;
    }
  }
}

.lots {
  padding: 0 24px 146px 24px;

  .lots__heading {
    padding: 0 0 27px 40px;

  }

  .lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;

    .lots__card-list-item {
      flex: 1 1 334px;
      min-height: 563px;

      .card-link {
        text-decoration: none;

        .card {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: 50px 40px 40px 40px;

          &.card_type_film {
            background: center / cover no-repeat url(../images/card-lot-01.jpg);
          }

          &.card_type_book {
            background: center / cover no-repeat url(../images/card-lot-02.jpg);
          }

          &.card_type_picture {
            background: center / cover no-repeat url(../images/card-lot-03.jpg);
          }

          .card__title {
            z-index: 1;
            color: white;
            font-weight: 700;
            font-size: 22px;
            line-height: 1.2;
            text-decoration: underline;
            text-transform: uppercase;
          }

          .card__text {
            position: relative;
            top: -7px;
            color: white;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2;
          }
        }
      }
    }
  }

  .lots__look-more-link {
    display: inline-block;
    margin: 30px 0 0 40px;
    border-bottom: 1px solid;
    font-size: 20px;
    line-height: 1.17;
    text-decoration: none;
  }
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0 24px 146px 24px;

  .about__logo {
    display: grid;
    justify-self: center;
    width: 240px;
    height: 240px;
    margin-top: 37px;
    border-radius: 50%;
    background: black;

    .about__logo-image {
      justify-self: center;
      align-self: center;
      width: 148px;
      height: 114px;
    }
  }

  .about__title {
    margin: 139px 0 100px;
  }

  .about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-wrap: balance;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 33px 50px 88px 50px;

  .footer__menu {
    .footer__menu-list {
      list-style: none;
      text-align: center;

      .footer__menu-link {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.17;
        text-decoration: none;
        border-bottom: 1px solid;
      }
    }
  }

  .footer__social-list {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 48px;

    .footer__social-icon {
      width: 48px;
      display: inline-block;
    }
  }
}

